/* Reset */
body, h1, h2, p, section, article, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
  background: transparent;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Header */

.name-header {
  display: block;
  font-size: 70px;
  font-family: 'Lato', sans-serif;
  color: #111111;
  background-color: #DDDDDD;
  text-align: center;
}

/* Sidebar */
.sidebar-content-container {
  height: 100%;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

.sidebar {
  float: left;
  width: 15%;
  height: 100%;
  padding: 20px;
}

.sidebar-portrait {
  margin: auto;
  width: 80%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sidebar-list {
  display: block;
}

.sidebar-list-item {
  display: block;
  border-bottom: 1px solid #AAAAAA;
}

.sidebar-list-item:first-child{
  border-top: 1px solid #AAAAAA;
}

.sidebar-link {
  display: block;
  padding: 5px;
  width: 100%;
  height: auto;
}

/* Content */

.content {
  float: right;
  width: 85%;
  height: 100%;
  padding: 20px;
}

.intro {
  padding: 20px;
  font-size: 20px;
}

.skills {
  border: 1px solid black;
}

.skill-list-item {
  width: 15%;
  margin: 5%;
  height: auto;
  float: left;
}
